.nav * {margin:0; padding:0; outline:0}
.nav {height:36px; background:#b01515; z-index:1000}
.menu a {float:left; color:#fff; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu span {float:left; color:#fff; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu a:hover {color:#fff; background:#7b0e0e}
.menu {list-style:none; font:16px Arial,Verdana; font-weight:bold; text-align:center; width:600px; margin:0 auto}
.menu li {position:relative; float:left; width:120px; z-index:1000}
.menu ul {display:none; position:absolute; font:normal 13px Arial,Verdana; top:36px; left:0; background:#b01515; display:none; list-style:none}
.menu ul li {float:none; border-top:1px solid #fff; width:120px}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#7b0e0e; color:#fff}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul ul {left:120px; top:0}
.menu li.noborder {border-top:none}
li.menuhover a, li.menuhover li.menuhover a {color:#fff; background:#7b0e0e}
li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#7b0e0e}
.menu a span {display: inline !important;}